nav {
  background-color: #BB2339;
}
nav a {
  color: white;
}

section {
  background-color: #BB2339;
}

#btn-1 {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 1130px;
  top: 0;
}

#btn-2 {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 1230px;
  top: 0;
}
#preloader{
  background: #000 url(/images/loader.gif.gif) no-repeat center center;
background-size: 20%;
  height: 100vh;
width: 100%;
position: fixed;
z-index: 100;


}