#btn-1 {
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    left: 1130px;
    top: 0;
}

#btn-2 {
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    left: 1230px;
    top: 0;
}